* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

.btn_blue {
    background-color: #174EC8;
    border-radius: 4px;
}

.hero {
    position: relative;
    overflow: hidden;
}

img {
    width: 100vw;
}

img:nth-child(2) {
    display: none;
}

/* OVERLAY AND OVERALL BOX FOR CONTENT*/
.hero_content_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 99%;
    background: transparent linear-gradient(90deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* LITTLE BOX FOR CONTENT */
.hero_content {
    width: 665px;
}

/* EDITING CONTENT */
.hero_content h6 {
    font-weight: medium;
    font-size: 14px;
    letter-spacing: 0.67px;
    text-transform: uppercase;
    color: #FFFFFF66;
}

.hero_content h1 {
    margin-top: 4px;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 2.3px;
}

.hero_content p {
    font-size: 16px;
    letter-spacing: 0.4px;
    line-height: 1.77;
    margin: 19px 0 79px 0;
}

.hero_content .btn_blue {
    padding: 20px 32px;
    font-size: 16px;
    letter-spacing: 0.4px;
}


/* RESPONSIVE */
@media screen and (max-width: 1100px) and (min-width: 769px) {
    .hero_content {
        margin: 1.5vw;
    }
    .hero_content h6 {
        font-size: 1vw;
    }

    .hero_content h1 {
        margin-top: 0.1vw;
        font-size: 4vw;
        letter-spacing: 1.3px;
    }

    .hero_content p {
        font-size: 1.3vw;
        margin: 1vw 0 5vw 0;
    }

    .hero_content .btn_blue {
        padding: 2vw 3vw;
        font-size: 1.3vw;
    }
}

@media screen and (max-width: 768px) {
    .hero_content_box {
        height: 100%;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .hero_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 400px;
        text-align: center;
        padding: 10px;
    }

    img:nth-child(1) {
        display: none;
    }

    img:nth-child(2) {
        display: flex;
        width: auto;
        height: 100vw;
    }

    .hero_content h6 {
        font-size: 2.5vw;
    }

    .hero_content h1 {
        margin: 0;
        font-size: 9vw;
    }

    .hero_content p {
        font-size: 3vw;
        margin: 1vw 0 3vw 0;
    }

    .hero_content .btn_blue {
        padding: 2vw 3.5vw;
        font-size: 3vw;
    }
}

@media screen and (max-width: 595px) {
    img:nth-child(2) {
        display: flex;
        width: auto;
        height: 150vw;
    }

    .hero_content h6 {
        font-size: 3vw;
    }

    .hero_content h1 {
        margin: 0;
        font-size: 12vw;
    }

    .hero_content p {
        font-size: 4vw;
        margin: 1vw 0 10vw 0;
    }

    .hero_content .btn_blue {
        padding: 2.5vw 4.5vw;
        font-size: 4vw;
    }
}

@media screen and (max-width: 400px) {
    img:nth-child(2) {
        display: flex;
        width: auto;
        height: 190vw;
    }

    .hero_content h6 {
        font-size: 5vw;
    }

    .hero_content h1 {
        margin: 0;
        font-size: 12vw;
    }

    .hero_content p {
        font-size: 6vw;
        margin: 1vw 0 10vw 0;
    }

    .hero_content .btn_blue {
        padding: 3vw 5.5vw;
        font-size: 6vw;
    }
}